.checkout-footer-container {
  height: 8%;
  width: 100%;
}

.checkout-footer-wrapper {
  border-top: 1px solid rgba(175, 175, 175, 0.329);
  height: 10%;
  width: 80%;
  margin: 0 auto;
}

.checkout-footer-logo {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}
