.admin-input {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: 'Open Sans','Roboto', sans-serif;
    color:rgb(100, 100, 100);
    font-size: 15px;
    .test{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: italic;
        color: black;
    }
}
