@import "../../variables";

.hostpage {
  width: 75%;
  margin: auto;
  text-align: start;
  h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .hostpage-header {
    display: flex;
    justify-content: space-between;
    button {
      color: $font-blue-green;
      border: solid 2px $font-blue-green;
      padding-top: 12px;
      padding-bottom: 14px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 4px;
      font-weight: 700;
      font-size: $font-medium;
      cursor: pointer;
      outline: none;
    }
  }
}
.HostCards {
  width: 100%;
  height: 230px;
  //   background: blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: rgb(232, 232, 232) solid 1px;
  .HostCards-img {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    margin-right: 40px;
  }
  button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    background: rgb(0, 121, 126);
    border: none;
  }
  .HostCards-info {
    width: 200px;
  }
  .HostCards-delete-container {
    width: 60px;
    height: 40px;
    // margin: 0 0 0px 10px;
    .HostCards-delete {
      margin: 0 0 0 10px;
      width: 80%;
      height: 80%;
      border: rgb(215, 215, 215) solid 1px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .delete-gear {
        width: 20px;
        transform: rotate(0deg);
        transition: transform 0.3s linear;
      }
      .delete-gear-rotate {
        width: 20px;
        transform: rotate(180deg);
        transition: transform 0.3s linear;
      }
      .delete-arrow {
        width: 10px;
        transform: rotate(0deg);
        transition: transform 0.3s linear;
      }
      .delete-arrow-rotate {
        width: 10px;
        transform: rotate(180deg);
        transition: transform 0.3s linear;
      }
    }
    .delete-visible {
      position: relative;
      width: 70px;
      height: 30px;
      padding: 5px;
      margin-top: 8px;
      color: $font-blue-green;
      border: rgb(232, 232, 232) solid 1px;
      border-radius: 3px;
      text-align: center;
    }
    .delete-visible::after,
    .delete-visible::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-style: solid;
      width: 0;
      height: 0;
    }
    .delete-visible::after {
      border-color: transparent transparent white transparent;
      border-width: 7px;
    }
    .delete-visible::before {
      border-color: transparent transparent $font-black transparent;
      // left: 49%;
      border-width: 7.2px;
    }
    .delete-hidden {
      display: none;
    }
  }
  .HostCards-created {
    color: $font-black;
  }
}
.HostCards-flex {
  display: flex;
}
