.navbar-container{
    width: 100%;
    display: flex;
}

.navbar-wrapper{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .navbar-left{
        display: flex;
    }

    .navbar-right {
        display: flex;
        justify-content: flex-end;
        width:50%;
        height: 70%;
        .navbar-loggedin{
           display: flex;
           div {
               margin-right: 20px;
           }
        }
        
    }

}

.nav-profile-img{
    width: 50px;
    border-radius: 50%;
}