.detailed-wrapper{
    display: flex;
}

.detailed-info-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.detailed-img{
    height: 500px;
}