.review-wrapper {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  // justify-content: left;
  // align-content: left;
}
.review-wrapper-inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  font-size: 24px;
  margin: 5px;
}
.review-title {
  font-size: 30px;
}
.review-description {
  font-size: 17px;
}

.display-inline {
  display: inline;
}
.host-photo-box {
  margin-right: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
// .host-photo
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-space-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
