///////////font sizes/////////////////
$font-medium: 15px;
$font-small: 12px;
$font-tiny: 10px;

///////////font style////////////////
$robotoNormal: ‘Open Sans’,‘Roboto’, sans-serif;


///////////font colors///////////////
$font-light-grey: #767676;
$font-black: rgb(72,72,72);
$font-blue-green: #00898B;
$font-darker-grey-p-titles: rgb(32, 32, 32);


//////////backgroundcolors///////////
$background-white: #ffffff;

/////////font weights//////////////
$font-bold: 600;