.circle {
  width: 90px;
  height: 90px;
  background: rgba(17, 132, 136, 0.493);
  border: 2px solid rgb(13, 109, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 17px;
}
