@import '../../variables';

.wizard-date{
    // background: blue;
    width:200px;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    p{
        margin-left: 5px;
        margin: auto;
    }
    div{
        margin: auto;
        font-weight: $font-bold;
        cursor: pointer;
        color: $font-blue-green
    }
}